/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles de base */
  body {
    font-family: Arial, sans-serif;
    background-color: #000000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Styles de la barre de navigation */
  nav {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  nav .logo img {
    width: 40px;
    margin-right: 10px;
  }
  
  nav .logo h1 {
    color: #fff;
    font-size: 24px;
  }
  
  nav .nav-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  
  nav .nav-links li {
    list-style: none;
    margin-left: 20px;
  }
  
  nav .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav .nav-links li a:hover {
    color: #e50914;
  }
  
  /* Styles pour la section des catégories */
  .category {
    margin-top: 40px;
    background-color: #e50914;
  }
  
  .category h2 {
    font-size: 28px;
    margin-bottom: 20px;
    width: 1920px;
    position: relative;
    left: 515px;

  }
  
  .category-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .category-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  .category-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .category-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  